
<h3>Tenant Info</h3>

<label>Name:</label>
<h3><%= @tenant.name%></h3>

<a href='/apartments/<%= @tenant.apartment_id %>'>Apartment Info
</a>

<button>
  <a href='/tenants/<%= @tenant.id %>/edit'>Edit info</a>
</button>

<form action='/tenants/<%= @tenant.id %>', method='post'>
  <input type='hidden', name='_method', value='delete'>
  <input type='submit', value='Exterminate Tenant!'>
</form> 
